:root {
    --color-black: #282828;
    --color-white: #e9e9e9;
    --color-accent: #a8bdd2;
    --color-main: #223140;
    --color-green: #356950;
    --color-red: #d05310;
    --ff: "DM Sans", sans-serif;
    --h1: bold 54px/64px var(--ff);
    --h2: bold 36px/36px var(--ff);
    --h3: bold 24px/30px var(--ff);
    --p: 24px/30px var(--ff);
    --a: bold 18px/18px var(--ff);
    --transition: all 0.2s ease-in-out;
    --shadow: #00000030 0px 0px 10px 0px;
}

@font-face {
    font-family: 'LemonDessert';
    src: url('fonts/LemonDessert-demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff);
    margin: 0;
}

h1 {
    color: var(--color-main);
    font: var(--h1);
    text-align: center;
    margin: 0;
}

h2 {
    color: var(--color-main);
    font: var(--h2);
    text-align: center;
    margin: 0;
}

h3 {
    color: var(--color-main);
    font: var(--h3);
    text-align: center;
    margin: 0;
}

p {
    color: var(--color-main);
    font: var(--p);
}

a {
    color: var(--color-main);
    text-decoration: none;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    /* background-color: var(--color-main); */
}

.topbar {
    display: flex;
    padding: 30px;
    background-image: linear-gradient(77deg,
            var(--color-green) 0%,
            var(--color-white) 35%,
            var(--color-white) 65%,
            var(--color-red) 100%);
}

.topbar .star,
.topbar .rudy {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar .star img,
.topbar .rudy img {
    max-width: 120%;
    max-height: 120%;
}

.topbar h1 {
    flex: 1;
    text-align: center;
    font-family: 'LemonDessert', sans-serif;
    font-size: min(15vw, 140px);
    letter-spacing: 0.1em;
    color: var(--color-main);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5vw;
    margin-right: 5vw;
}

.navbar {
    background-color: var(--color-accent);
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
    box-shadow: var(--shadow);
}

.navbar > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar > ul li {
    justify-content: center;
}

.navbar > ul li a {
    color: var(--color-black);
    font: var(--a);
    transition: var(--transition);
    padding: 10px 25px;
}

.navbar > ul li a:hover {
    background-color: var(--color-white);
}

.navbar > ul li:hover > .dropdown {
    display: flex;
}

.dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    background-color: var(--color-accent);
    top: 100%;
    padding: 0;
    margin: 0;
}

.dropdown > li a {
    display: flex;
}

.dropdown li a:hover {
    background-color: var(--color-white);
}

.content {
    min-height: calc(100vh - 440px);
    max-width: min(1000px, 85vw);
    margin: auto;
    box-shadow: var(--shadow);
    padding: 3vw;
    text-align: center;
    background-color: rgba(233, 233, 233, 0.9);
    z-index: 1;
}

.content img {
    opacity: 1;
    border-radius: 10px;
    max-width: 100%;
}

.small-img {
    margin: auto;
    max-width: 10vw !important;
    display: block;
}

.col-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px 0;
    background-color: var(--color-white);
}

@media (max-width: 600px) {
    .col-box {
        grid-template-columns: 1fr; /* jedna kolumna na małych ekranach */
    }
}

.button {
    display: inline-block;
    background-color: var(--color-main);
    color: var(--color-white);
    font: var(--a);
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.button:hover {
    background-color: #de3030;
    color: var(--color-white);
    box-shadow: var(--shadow);
}

.button-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 20px;
}

.footer {
    background-color: var(--color-main);
    padding: 50px;
    text-align: center;
}

.footer p {
    color: var(--color-white);
    font: var(--p);
    margin: 0;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('media/bg.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}


#scroll-button {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-accent);
    color: var(--color-black);
    font: var(--a);
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

#scroll-button:hover {
    background-color: var(--color-white);
    color: var(--color-main);
    box-shadow: var(--shadow);
}


@media screen and (max-width: 600px) {
    .topbar {
        max-height: 17vw;
    }

    .topbar h1 {
        font-size: 12vw;
    }

    .topbar .star,
    .topbar .rudy {
        width: 100px;
        height: 100px;
    }

    .navbar li a {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --p: 18px/24px var(--ff);
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .navbar li {
        width: 100%;
        margin: 0;
    }

    .navbar li a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    /* usuń padding z .navbar jeśli jest potrzebne */
    .navbar {
        padding: 0;
    }

    /* ukryj dropdown na małych ekranach */
    .navbar > ul li:hover > .dropdown {
    display: none;
}
}